@{
    @model XBRLviewerMVC.ViewModels.XBRLViewerViewModel
}

@{ FactModel f, f2; string fName, fName2; string noValue = ": Einki virði"; }

<p class="text-left p-1 font-weight-bold">Høvuðsvirksemi felagsins</p>

@{
    fName = "ManagementsReview";
    f = Model.Facts.FirstOrDefault(x => x.Name == fName);
    <p class="text-left p-1 font-italic" data-toggle="tooltip" title="@f?.Label">@(f?.Value ?? fName + noValue)</p>
}