@{
    @model List<XBRLviewerMVC.Models.FactModel>
}

@{ FactModel f, f2; string fName, fName2; string noValue = ": Einki virði"; }

@{
    fName = "ReportingPeriodStartDate";
    fName2 = "ReportingPeriodEndDate";
    f = Model.FirstOrDefault(x => x.Name == fName);
    f2 = Model.FirstOrDefault(x => x.Name == fName2);
    <h2 class="text-left p-1 font-weight-bold" data-toggle="tooltip" title="@f?.Label &#10;@f2?.Label">Roknskaparár: @(f?.Value ?? fName + noValue) - @(f2?.Value ?? fName2 + noValue)</h2>
}

<table class="table table-sm table-bordered table-striped">

    <thead>
        <tr>
            <th></th>
            <th>Nota</th>
            <th>2019</th>
            <th>2018</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="font-weight-bold">Bruttoúrslit</td>
            <td></td>

            @{
                fName = "GrossProfitLoss";
                var gplList = Model
                    .Where(x => x.Name == fName)
                    .OrderBy(x => x.ContextRefName)
                    .Select(x => x);

                int counter = 0;

                foreach (var gpl in gplList)
                {
                    if (counter < 2)
                    {
                        <td class="text-left p-1" data-toggle="tooltip" title="@gpl?.Label">@(gpl?.Value ?? fName + noValue)</td>
                    }

                    counter++;
                }
            }

        </tr>

        <tr>
            <td class="font-weight-bold">Samtaksroknskapur</td>
            <td>
            </td>
        </tr>
        <tr>
            <td class="font-weight-bold">Ársaðalfundur</td>
            <td>
            </td>
        </tr>
    </tbody>
</table>