@{
    @model XBRLviewerMVC.ViewModels.XBRLViewerViewModel
    ViewData["Title"] = "XBRLviewer";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/overlays.css" />
    <link rel="stylesheet" type="text/css" href="~/css/sidebar.css" />
</head>

<div id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <button class="list-group-item list-group-item-action bg-light border" onclick="onOpenXBRL()">Opna XBRL fílu</button>
            <button class="list-group-item list-group-item-action bg-light border" asp-area="" asp-controller="Home" asp-action="">Filtra roknskap</button>
        </div>
    </div>

    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <a href="#menu-toggle" id="menu-toggle" class="navbar-brand ml-auto">Stillingar <span class="fa fa-minus" id="menu-icon"></span></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>
    </nav>

    <div id="overlayOpenXBRL">
        <a href="javascript:void(0)" id="closebtn" onclick="offOpenXBRL()">&times;</a>
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <form asp-controller="Home" asp-action="OpenXBRL" enctype="multipart/form-data" method="POST">
                    <div class="custom-file p-2">
                        <label class="custom-file-label" for="customFile">Vel fílu</label>
                        <input class="custom-file-input" asp-for="@Model.FormFile" type="file" />
                    </div>

                    <div class="pt-2">
                        <button type="submit" class="btn btn-primary" onclick="offOpenXBRL()"><span class="fa fa-check"></span> Vátta</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <partial name="_AllPagesAccordion" />
        </div>
    </div>

</div>