@{
    @model List<XBRLviewerMVC.Models.FactModel>
    ViewData["Title"] = "XBRLviewer";
}

<h1 class="bg-primary text-white text-center p-2">XBRL vísari</h1>

<div id="accordion">
    <div class="card">
        <div class="card-header" id="heading1">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    S1 - Forsíða
                </button>
            </h5>
        </div>

        <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
            <div class="card-body">
                <partial name="_Page1" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading2">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    S2 - Upplýsingar um felagið
                </button>
            </h5>
        </div>
        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
            <div class="card-body">
                <partial name="_Page3" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading3">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    S3 - Leiðsluátekning
                </button>
            </h5>
        </div>
        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
            <div class="card-body">
                <partial name="_Page2" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading4">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    S4 - Grannskoðanarátekning frá óheftum grannskoðara
                </button>
            </h5>
        </div>
        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
            <div class="card-body">
                More to come...
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading5">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    S5 - Høvuðs- og lyklatøl
                </button>
            </h5>
        </div>
        <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
            <div class="card-body">
                More to come...
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading6">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    S6 - Leiðslufrágreiðing
                </button>
            </h5>
        </div>
        <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
            <div class="card-body">
                More to come...
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading7">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    S7 - Nýttur roknskaparháttur
                </button>
            </h5>
        </div>
        <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
            <div class="card-body">
                More to come...
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading8">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                    S8 - Rakstrarroknskapur
                </button>
            </h5>
        </div>
        <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
            <div class="card-body">
                <partial name="_Page4" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading9">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                    S9 - Fíggjarstøða
                </button>
            </h5>
        </div>
        <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
            <div class="card-body">
                More to come...
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading10">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                    S10 - Peningarstreymsuppgerð
                </button>
            </h5>
        </div>
        <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion">
            <div class="card-body">
                More to come...
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading11">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                    S11 - Notur
                </button>
            </h5>
        </div>
        <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion">
            <div class="card-body">
                More to come...
            </div>
        </div>
    </div>
</div>